<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sst-QA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>sst-ios-DEV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>sst-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sst.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3571B2101E2A1FF60064FF5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358C02321F381EA7008EC766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35BFD98A1E27555D003E51D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35BFD99E1E27555D003E51D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35BFD9A91E27555D003E51D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35D3E80A1F1CD2FF00A76BFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
